body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #811E3A;
    color: #333;
    text-align: center;
}

.container {
    padding: 20px;
    background-color:#9e3150 ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.date {
    font-size: 3em;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.text {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #f4f4f4;
}

.extra-text {
    font-size: 0.9em;
    color: #f4f4f4;
    font-style: italic;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
}

.button:hover {
    background-color: #0056b3;
}
