body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}


#bildContainer {
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}